<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.jay.qna.mapper.UserMapper">
	<select id="findOne" parameterType="UserDao" resultType="UserDao">
		SELECT ID, NAME, AUTHKEY FROM USERS
		WHERE ID = #{id} AND AUTHKEY = #{authKey}
	</select>
</mapper>